@font-face {
    font-family: 'Kola-Regular';
    src: url('Kola-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 30pt;
}

.view {
    position: relative;
}

.glyph {
    position: absolute;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.entity {
    position: absolute;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.tile {
    border: 1px solid #eee;
}